ul {
	list-style: none;
	margin: auto;
	padding: 0;
}

li {
	list-style: none;
}

.notes {
	display: flex;
	width: 300px;
	text-align: center;
	/* justify-content: space-between; */
	background: rgb(235, 204, 146);
	padding-left: 0;
	margin-top: 20px;


}
.notes-group{
    width: 100%;
    display: flex;
	/* margin-top: 20px; */
	justify-content: space-between;
	text-align: center;

	padding: 10px;

}

.notes-actions {
	display: flex;


}

.button-notes {
	margin: 0 2px;
	display: flex;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	align-content: center;
	justify-content: center;
	align-items: center;
	border: none;
	background: rgb(0, 225, 255);
	color: white;
}

.button-notes:hover {
	background: white;
	color: rgb(0, 225, 255)
}

.line-tags {
	left: 10px;
    width: 20px;
}